/* Style général */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1E90FF, #FF6347); /* Dégradé bleu vers rouge */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

/* Style de l'en-tête */
header {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Style des drapeaux */
.flags {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.flag {
    width: 150px;
    height: auto;
    margin: 0 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.flag:hover {
    transform: scale(1.1); /* Agrandissement lors du survol */
}

/* Media Query pour téléphone */
@media (max-width: 768px) {
    .flags {
        flex-direction: column; /* Les drapeaux seront affichés en colonne */
        align-items: center; /* Centrer les drapeaux */
    }

    .flag {
        margin: 20px 0; /* Ajouter de l'espace entre les drapeaux */
        width: 120px; /* Réduire la taille des drapeaux pour mobile */
    }
}
