/* Style pour la page du programme */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    position: relative;
}

/* Style de l'en-tête */
header {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Section Programme */
.program-section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.5em;
    margin-bottom: 15px;
}

footer {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    color: #ffffff;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}
